@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;900&display=swap');
.navbar{
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;}
.navbar-nav li{
    padding-right: .7rem;}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #e3a5e9;}
.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;}
.shape-top{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;}
.background-one{
    position: absolute;
    background: #21252B;
    width: 100%;
    height: 100%; 
    z-index: -3;
}
.inicio{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 56px 0 0 0;
}
.img-profile{
    height: 250px;
    border-radius: 50%;
    margin-right: 40px;
}
.shape-bottom{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0; 
}
@media (max-width: 992px){
    .content{
         flex-direction: column;
         justify-content: flex-start;}
    .img-profile{
         height: 175px;
         margin-right: 0;}
    .title-profile{
         text-align: center;}
    .text-profile{
         text-align: center;}
    .navbar .navbar-nav {
         display: inline-block;
         float: none;
         vertical-align: top;}
    .navbar .navbar-collapse {
         text-align: center;}
 }
 @media (max-width: 768px){
     
 }
 @media (max-width: 320px){
     .inicio{
         padding: 0;}
     .content{
         padding: 10px;}
     .img-profile{
         height: 145px;}
 }